root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# Default charset for TypeScript and JavaScript =d
[*.{ts,js}]
charset = utf-8

# Package.json
[package.json]
indent_style = space
indent_size = 2